<h2>자유게시판 : 게시글 수정</h2>

<%= form_tag(posts_update_path, method: "post") do %>
    <div><%= text_field_tag(:crud_title, @post.title, placeholder: "제목을 입력해주세요!") %></div>
    <div><%= text_field_tag(:crud_content, @post.content, placeholder: "내용을 입력해주세요!") %></div>
    <div><%= submit_tag("글 쓰기") %></div>
<% end %>